*{
    /* reset rapido del foglio di stile del browser, meglio il normalize*/
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* regole che valgono per tutto il CSS salvo override della media queries */
.container {
    display:flex;
    flex-wrap: wrap;
}
.box {
    border: 1px solid rebeccapurple;
    width:100%;
}
@media(min-width: 1200px){
    /* regole che valgono a partire da 992px*/
    .box{ 
        width: 25%; /* sovrascrivo la regola alla riga 13*/
    }
}